.body-detail {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: var(--main-bg-color);
  padding: 10rem;
}

.section_carddetail {
  margin-top: 1.5rem;
  width: 100%;
  height: 100%;
  min-height: 65rem;
  background-color: var(--main-white-color);

  display: flex;
}

.carddetail-imagebox {
  padding: 1.5rem;
}

.carddetail-image {
  width: 45rem;
  height: 100%;
}

.carddetail-detailbox {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.carddetail-detailbox-left {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.carddetail-detailbox-right {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.carddetail-detailbox-x {
  width: auto;
}
.carddetail-detailbox-x div:focus {
  outline: none;
}

.carddetail-detailbox-x > div {
  margin: 1rem 1rem 0 0;
  font-size: 1.8rem;
  font-weight: 700;
  cursor: pointer;
  color: #ffc107;
}

.carddetail-detailbox > hr {
  border-style: solid;
  background-color: #000000;
  margin-bottom: 0.9rem;
}

.carddetail-detailbox > h6 {
  color: #aaaaaa;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.carddetail-detailbox > h4 {
  margin-bottom: 0.5rem;
}

.carddetail-detailbox-left > p {
  margin: 1rem 0;
  text-transform: capitalize;
}

.carddetail-detailbox-right > p {
  text-indent: 4rem;
  line-height: 3rem;
}

.carddetail-detailbox-right > div {
  align-self: flex-end;
  margin-top: auto;
  padding: 0;

  display: flex;
  flex-flow: row;
}

.carddetail-detailbox-right > button {
  margin: 0 0 0 1rem;
}

.carddetail-detailbox-right > button:first-child {
  margin: 0;
}

@media only screen and (max-width: 1100px) {
  .carddetail-detailbox {
    flex-direction: column;
  }

  .carddetail-detailbox-x {
    order: -1;
    text-align: end;
    position: relative;
    z-index: 999;
  }

  .carddetail-detailbox-left {
    margin-top: -3rem;
    position: relative;
    z-index: 1;
  }

  .carddetail-detailbox-left > h2 {
    width: 90%;
  }

  .carddetail-detailbox-right {
    padding-top: 0;
  }

  .carddetail-detailbox-right > button {
    margin-top: 2rem;
  }

  .carddetail-detailbox-right > button:first-child {
    margin-top: 2rem;
  }

  .carddetail-detailbox-right > h6 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 1200px) {
  .body-detail {
    padding: 2rem 5rem;
    height: 450vh;
  }
  .section_carddetail {
    height: auto;
  }
}

@media only screen and (max-width: 942px) {
  .body-detail {
    position: absolute;
  }

  .section_carddetail {
    flex-direction: column;
  }

  .carddetail-imagebox {
    padding: 1.5rem 0rem;
    display: flex;
    justify-content: center;
  }

  .carddetail-detailbox {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .carddetail-detailbox-x {
    top: -70rem;
    left: -5rem;
    width: 110%;
  }

  .carddetail-detailbox-x > div {
    margin: 0;
    text-align: end;
  }
}

@media only screen and (max-width: 600px) {
  .carddetail-image {
    width: 30rem;
    height: 100%;
  }

  .carddetail-detailbox {
    width: 100%;
    margin: 0;
  }

  .carddetail-detailbox-x {
    top: -47.5rem;
    left: -1rem;
    width: 100%;
  }
}
