.section_cardlist {
  margin-top: 1.5rem;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem 0;
}

/* @media only screen and (max-width: 1700px) {
  .section_cardlist {
    grid-template-columns: repeat(4, auto);
  }
}

@media only screen and (max-width: 1500px) {
  .section_cardlist {
    grid-template-columns: repeat(3, auto);
  }
}

@media only screen and (max-width: 1024px) {
  .section_cardlist {
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (max-width: 750px) {
  .section_cardlist {
    grid-template-columns: auto;
  }
} */
