.section_cardlist-cardItem {
  width: 25rem;
  height: 100%;

  box-shadow: var(--main-box-shadow);
  border-radius: 0.4rem;
  transition: all 0.2s;

  justify-self: center;
}

.cardItem_image {
  width: 25rem;
  height: 35rem;
  border-radius: 0.4rem 0.4rem 0 0;
}

.cardItem_box {
  margin-top: -0.3rem;
  background-color: var(--main-white-color);
  padding: 1rem;
  border-radius: 0 0 0.4rem 0.4rem;

  height: 14rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardItem_box-heading {
  text-transform: capitalize;
  margin: 0.75rem 0;
  text-align: center;
}


.cardItem_box-side {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.cardItem_box-triangle {
  transform: translateY(-0.6rem);
}

.button {
  padding: 1rem 1.5rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  color: var(--main-white-color);
  background-color: var(--main-nav-color);
  letter-spacing: 0.1rem;

  border-radius: 0.2rem;
  display: inline-block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.99);
}

.section_cardlist-cardItem:hover {
  transform: scale(1.02);
}

.no-image {
  background-color: #000000;
  width: 25rem;
  height: 35.4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.no-image p {
  color: #ffffff;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  padding: 2rem;
}
