.section_cardlist {
  margin-top: 1.5rem;
  height: 100%;

  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1700px) {
  .section_cardlist {
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 3rem 3rem;
  }
}

@media only screen and (max-width: 942px) {
  .section_cardlist {
    justify-content: space-evenly;
  }
}
