.section_header {
  background-color: var(--main-header-color);

  box-shadow: var(--main-box-shadow);
  border-radius: 4px;
  padding: 1rem 1.5rem;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 0.2px;
}

.section_header-heading {
  color: var(--main-white-color);

  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
