.nav {
  width: 100%;
  height: 6.5rem;
  padding: 1rem 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  background-color: var(--main-nav-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 4px;
  transition: height 0.18s;
}

.nav_navzone {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: nowrap;

  position: relative;
  z-index: 100;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--main-white-color);
}

.hamburger:focus,
.switch:focus {
  outline: none;
}

.line1,
.line2,
.line3 {
  width: 30px;
  height: 3px;
  background-color: var(--main-white-color);
  margin: 6px 0;
  transition: all 0.3s;
}

.switch .line1 {
  transform: rotateZ(45deg) translate(6.5px, 6.5px);
}

.switch .line2 {
  transform: translateX(15px);
  opacity: 0;
}

.switch .line3 {
  transform: rotateZ(-45deg) translate(6.5px, -6.5px);
}

.menubar {
  width: 100%;
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transform: translateY(-5rem);
  opacity: 0;
  transition: all 0.3s;

  position: relative;
  z-index: 99;
}

.showmenu {
  height: 100%;
  transform: translateY(0rem);
  opacity: 1;
}

.menubar_menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.menubar_menu-item {
  margin: 1rem 2rem;
}

.menubar_menu-item:last-child {
  margin: 1rem 0 1rem 2rem;
}

.menubar_menu-item a {
  color: var(--main-white-color);
  text-decoration: none;
}

.menubar_menu-item a:focus {
  outline-offset: none;
}

.search {
  margin-left: auto;
  margin-right: 1rem;

  display: flex;
}

.search-input {
  margin-right: 0.5rem;
  font-size: 1.6rem;
  text-indent: 1rem;
}

.search-input:focus {
  outline: none;
  border: 0.25rem solid var(--main-header-color);
}

@media only screen and (max-width: 600px) {
  .nav {
    height: 10rem;
  }

  .showmenu {
    height: 100%;
  }
  .search {
    order: 100;
    margin-left: 0;
    flex: 1 0 100%;
    margin-top: 1rem;
    justify-content: flex-end;
  }

  .search-input {
    flex: 1 0 80%;
  }
  .hamburger {
    margin-left: auto;
  }

  .nav_navzone {
    flex-wrap: wrap;
  }
}
